@if (metaInfo.tableMetadata.md_insertable) {
<p-button icon="pi pi-plus" label="{{'add_grid' | translate}}" (onClick)="addRecord()" />
}

<p-tree class="tree-list-root" [scrollHeight]="'100%'" [value]="records" *ngIf="treeOptions"
    [loadingMode]="metaInfo?.tableMetadata?.md_server_side_operations ? 'icon' : undefined"
    (onNodeExpand)="onNodeExpand($event)" (onNodeSelect)="onNodeSelect($event)"
    (onNodeUnselect)="onNodeUnselect($event)" (onNodeCollapse)="onNodeCollapse($event)">

    <ng-template let-node pTemplate="default">
        <ng-container pTemplate="body"
            *ngComponentOutlet="itemTemplate; inputs: {  record: node, rowData: node, metaInfo: metaInfo, datasource: datasource, parentField: treeOptions.parentField }"></ng-container>
    </ng-template>
</p-tree>