<!-- <button pButton type="button" (click)="loadDashboard()" class="mr-2">{{'load' | translate}}</button> -->
@if (!noEdit) {
<div class="designer-layout">
  <div class="designer-toolbar">
    <div class="designer-current-dashboard">{{ currentDashboardTitle }}</div>

    <div class="designer-toolbar-spacer"></div>

    <div class="designer-toolbar-menu-group">
      <button type="button" (click)="undo()" [disabled]="!canUndo">{{ 'designer.undo' | translate }}</button>
    </div>

    <div class="designer-toolbar-menu-group">
      <button type="button" (click)="redo()" [disabled]="!canRedo">{{ 'designer.redo' | translate }}</button>
    </div>

    <div class="designer-toolbar-menu-group">
      <button type="button" (click)="refreshGraphActionsMenuItems(); graphActionsMenu.toggle($event)">{{ 'designer.actions_menu' | translate }}</button>
      <p-menu #graphActionsMenu [popup]="true" [model]="graphActionsMenuItems" appendTo="body"></p-menu>
    </div>

    <div class="designer-toolbar-menu-group">
      <button type="button" (click)="openCurrentDashboardInNewTab()" [disabled]="!currentDashboardRoute">{{
        'designer.open_current_dashboard' | translate }}</button>
    </div>
  </div>
  <div class="designer-main">
    <p-splitter [style]="{ height: '100%' }" [panelSizes]="[15, 85]" styleClass="designer-main-splitter">
      <ng-template pTemplate>
        <p-splitter layout="vertical" [style]="{ height: '100%', width: '100%' }" [panelSizes]="[35, 65]"
          [minSizes]="[20, 30]" styleClass="designer-left-splitter">
          <ng-template pTemplate>
            <div class="col flex designer-toolbox palette-panel">
              <ul class="tool-groups">
                @for (toolGroup of availableToolGroups; track toolGroup.group) {
                <li class="tool-group-item">
                  <div class="tool-group-title">{{ toolGroup.group }}</div>
                  <ul class="tool-group-list">
                    @for (tool of toolGroup.tools; track tool) {
                    <li pDraggable (onDragStart)="dragStart(tool)" (onDragEnd)="dragEnd()" (onDrag)="onDrag($event)"
                      (dblclick)="dropToolAtRoot(tool)">
                      <i [ngClass]="tool.icon" [title]="tool.name"></i>
                    </li>
                    }
                  </ul>
                </li>
                }
              </ul>
            </div>
          </ng-template>
          <ng-template pTemplate>
            <p-splitter layout="vertical" [style]="{ height: '100%', width: '100%' }" [panelSizes]="[68, 32]"
              [minSizes]="[35, 20]" styleClass="designer-left-bottom-splitter">
              <ng-template pTemplate>
                <div class="properties-panel">
                  <p-select [style]="{width: '100%'}" [options]="flattenedDashboardElements" [(ngModel)]="tool"
                    optionLabel="uniqueName" dataKey="componentId" appendTo="body" />
                  <div class="designer-toolbox">

                    <span style="width: 100%;">
                      <input type="text" style="width: calc(100% - 30px);" [(ngModel)]="propFilter"
                        [placeholder]="'prop.filter' | translate" />
                      <button style="width: 25px" (click)="clearPropFilter()">X</button>
                    </span>

                    @for (section of getToolPropertySections(tool, propFilter); track section.key) {
                    <details class="prop-section" [open]="section.open"
                      (toggle)="onPropertySectionToggle(tool, section.key, $event)">
                      <summary class="prop-section-title">{{ section.label }}</summary>
                      <ul class="props">
                        @for (toolProp of section.props; track toolProp.key) {
                        <li>
                          @if (!toolProp.value.hideCaption) {
                          <span>{{ toolProp.value?.propertyCaption ||
                            toolProp.key[0].toUpperCase() + toolProp.key.slice(1)
                            }}</span>
                          }
                          <br />
                          @if (toolProp.value.type == 'button') {
                          <p-button (click)="toolProp.value.callback(tool.inputs, toolProp.key, null, tool)"
                            class="k-button" [style]="{width: '100%'}">
                            {{toolProp.value.propertyCaption}}
                          </p-button>
                          }
                          @if (toolProp.value.type == 'metaEditor' &&
                          tool.inputs['componentRef']?.value?.component) {
                          <wuic-metadata-editor [hardcodedDatasource]="tool.inputs['componentRef']?.value?.component"
                            [saveCallback]="metaEditorSave"></wuic-metadata-editor>
                          }
                          @if (toolProp.value.type == 'boolean') {
                          <input type="checkbox" [(ngModel)]="tool.inputs[toolProp.key]" />
                          }
                          @if (toolProp.value.type == 'numberToArray') {
                          <input style="width: 100%;" type="number" pInputText [ngModel]="tool.inputs[toolProp.key]"
                            (ngModelChange)="setValue($event, tool, toolProp)" />
                          }
                          @if (toolProp.value.type == 'txt_area') {
                          <textarea style="width: 100%;" [(ngModel)]="tool.inputs[toolProp.key]"
                            [ngModelOptions]="{ updateOn: 'blur' }"
                            (ngModelChange)="setValue($event, tool, toolProp)"></textarea>
                          }
                          @if (toolProp.value.type == 'string') {
                          <input style="width: 100%;" type="text" pInputText [(ngModel)]="tool.inputs[toolProp.key]"
                            (ngModelChange)="setValue($event, tool, toolProp)" />
                          }
                          @if (toolProp.value.type == 'color') {
                          <p-colorPicker [ngModel]="getDesignerColorPickerHex(tool, toolProp)"
                            (ngModelChange)="onDesignerColorPickerHexChange($event, tool, toolProp)" appendTo="body" />
                          <div class="designer-color-alpha-row">
                            <span class="designer-color-alpha-label">{{ 'designer.alpha' | translate }}</span>
                            <input type="range" min="0" max="1" step="0.01"
                              [ngModel]="getDesignerColorAlpha(tool, toolProp)"
                              (ngModelChange)="onDesignerColorAlphaChange($event, tool, toolProp)" />
                            <input type="number" min="0" max="1" step="0.01"
                              [ngModel]="getDesignerColorAlpha(tool, toolProp)"
                              (ngModelChange)="onDesignerColorAlphaChange($event, tool, toolProp)" />
                          </div>
                          <input type="text" pInputText [(ngModel)]="tool.inputs[toolProp.key]"
                            (ngModelChange)="setValue($event, tool, toolProp)" />
                          }
                          @if (toolProp.value.type == 'dictionary' && !toolProp.value.async) {
                          @if (toolProp.key == 'cssFile') {
                          <p-select [style]="{width: '100%'}" appendTo="body" [options]="availableProjectCssFiles"
                            [ngModel]="tool.inputs[toolProp.key]" (ngModelChange)="onCssFileChanged($event, tool)" />
                          } @else if (toolProp.key == 'cssClass') {
                          <p-multiSelect [style]="{width: '100%'}" appendTo="body"
                            [options]="getCssClassOptionsForTool(tool)" [ngModel]="tool.inputs[toolProp.key]"
                            (ngModelChange)="onCssClassChanged($event, tool)" [filter]="true" [virtualScroll]="true"
                            [virtualScrollItemSize]="38" scrollHeight="260px" [showToggleAll]="false" display="chip"
                            [maxSelectedLabels]="3" [selectedItemsLabel]="'{0} selected'">
                          </p-multiSelect>
                          } @else if ((tool.name == 'SELECT' || tool.name == 'MULTISELECT' || tool.name == 'UL') &&
                          (toolProp.key == 'valueField' || toolProp.key == 'textField')) {
                          <p-select [style]="{width: '100%'}" appendTo="body"
                            [options]="getDatasourceColumnOptions(tool)" [ngModel]="tool.inputs[toolProp.key]"
                            (ngModelChange)="setValue($event, tool, toolProp)" />
                          } @else if (tool.name == 'LABEL' && toolProp.key == 'displayField') {
                          <p-select [style]="{width: '100%'}" appendTo="body"
                            [options]="getDatasourceColumnOptions(tool)" [ngModel]="tool.inputs[toolProp.key]"
                            (ngModelChange)="setValue($event, tool, toolProp)" />
                          } @else {
                          <p-select [style]="{width: '100%'}" appendTo="body" [options]="toolProp.value.values"
                            [(ngModel)]="tool.inputs[toolProp.key]"
                            (ngModelChange)="setValue($event, tool, toolProp)" />
                          }
                          }
                          @if (toolProp.value.type == 'dictionary' && toolProp.value.async) {
                          <p-select [style]="{width: '100%'}" appendTo="body" [options]="toolProp.value.values"
                            [ngModel]="tool.inputs[toolProp.key] | async"
                            (ngModelChange)="setValue($event, tool, toolProp)" />
                          }
                          @if (tool.name == 'DATAREPEATER' && toolProp.key == 'action' &&
                          canOpenArchetypeConfigurator(tool)) {
                          <button style="margin-top: 8px;" (click)="openArchetypeConfigurator(tool)">
                            {{ 'designer.configure' | translate }} {{ (tool.inputs['action'] | async) || '' }}
                          </button>
                          }
                          @if (toolProp.value.type == 'dropped-component-list') {
                          <p-select [style]="{width: '100%'}" appendTo="body"
                            [placeholder]="'select.component' | translate" [options]="elementFilter(toolProp)"
                            [ngModel]="getDroppedComponentListModel(tool, toolProp)"
                            (ngModelChange)="setValue($event, tool, toolProp)" optionLabel="uniqueName"
                            dataKey="uniqueName" />
                          }
                          @if (toolProp.value.type == 'autocomplete') {
                          <p-autoComplete [style]="{width: '100%'}" appendTo="body"
                            [ngModel]="tool.inputs[toolProp.key] | async" [forceSelection]="true"
                            (ngModelChange)="setValue($event, tool, toolProp)" [suggestions]="tool.suggestions"
                            [optionLabel]="toolProp.value.displayField" [optionValue]="toolProp.value.valueField"
                            (completeMethod)="search($event, tool, toolProp)" [dropdown]="true" dropdownMode="current"
                            [multiple]="toolProp.value.multiple" />
                          }
                          @if (toolProp.value.type == 'propertyTree' && shouldShowPropertyTree(tool)) {
                          <ul>
                            @for (item of $any(tool.inputs[toolProp.key] | async); track item) {
                            <li style="padding: 0; margin: 0;">
                              @if (item.col && tool.inputs['customProps_' + (tool.inputs['action'] | async)])
                              {
                              <wuic-field-editor [field]="item.col"
                                [record]="tool.inputs['customProps_' + (tool.inputs['action'] | async)]"
                                [metaInfo]="tool.inputs['datasource']?.component?.value?.metaInfo"
                                [triggerProp]="tool.inputs['action']"></wuic-field-editor>
                              }
                            </li>
                            }
                          </ul>
                          }
                        </li>
                        }
                      </ul>
                    </details>
                    }
                  </div>
                </div>
              </ng-template>
              <ng-template pTemplate>
                <div class="hierarchy-panel">
                  <div class="hierarchy-panel-title">{{ 'designer.canvas_hierarchy' | translate }}</div>
                  <div class="hierarchy-tree-wrap">
                    <p-tree [value]="hierarchyTreeNodes" [draggableNodes]="true" [droppableNodes]="true"
                      selectionMode="single" [(selection)]="hierarchySelection"
                      (onNodeSelect)="onHierarchyNodeSelect($event)" draggableScope="designer-hierarchy"
                      droppableScope="designer-hierarchy" (onNodeDrop)="onHierarchyNodeDrop($event)">
                      <ng-template let-node pTemplate="default">
                        <span class="hierarchy-node-label" [class.active]="isHierarchyNodeSelected(node)"
                          (mouseenter)="onHierarchyNodeMouseEnter(node)" (mouseleave)="onHierarchyNodeMouseLeave()"
                          (contextmenu)="showHierarchyNodeContextMenu($event, node, hierarchyCtxMenu)">
                          {{ node.label }}
                        </span>
                      </ng-template>
                    </p-tree>
                  </div>
                  <p-contextMenu #hierarchyCtxMenu [model]="hierarchyCtxItems" appendTo="body" />
                </div>
              </ng-template>
            </p-splitter>
          </ng-template>
        </p-splitter>
      </ng-template>
      <ng-template pTemplate>
        <div class="col dashboard-design" [class.designer-hide-datasources]="hideDatasourcesInCanvas" pDroppable
          (onDrop)="drop($event)" #canvas (contextmenu)="showCtx($event, this)">
          <wuic-dashboard [dashboardElements]="dashboardElements"></wuic-dashboard>
          <p-contextMenu [target]="canvas" [model]="ctxItems | async" appendTo="body" />
        </div>
      </ng-template>
    </p-splitter>
  </div>
  <div class="designer-footer">
    <div class="designer-footer-label">{{ 'designer.items' | translate }}:</div>
    <div class="designer-footer-list">
      @for (item of droppedDashboardItems; track item.uniqueName) {
      <button type="button" class="designer-footer-item" [class.active]="tool?.uniqueName === item?.uniqueName"
        [attr.data-designer-unique-name]="item?.uniqueName" (mouseenter)="setFooterHoverHighlight(item)"
        (mouseleave)="clearFooterHoverHighlight()" (click)="selectDashboardItem(item)"
        (contextmenu)="showFooterContextMenu($event, item, footerCtxMenu)">
        {{ getDroppedDashboardItemLabel(item) }}
      </button>
      }
    </div>
    <p-contextMenu #footerCtxMenu [model]="footerCtxItems" appendTo="body" />
  </div>
</div>
}

@if (noEdit) {
<wuic-dashboard [dashboardElements]="dashboardElements"></wuic-dashboard>
}

<wuic-archetype-configurator [visible]="showArchetypeConfigurator"
  (visibleChange)="onArchetypeConfigVisibleChange($event)" [archetype]="getActiveArchetypeConfig()"
  [metaInfo]="getArchetypeConfigMetaInfoForTool(archetypeConfigTool)"
  [value]="getArchetypeConfigValueForTool(archetypeConfigTool)" (applyConfig)="onArchetypeConfigApply($event)">
</wuic-archetype-configurator>

<wuic-css-sheet-editor [visible]="showCssSheetEditor" (visibleChange)="onCssSheetEditorVisibleChange($event)"
  [sheets]="dashboardCssSheets" [selectedSheetPath]="selectedCssEditorSheetPath" [assetsFolder]="currentDashboardRoute"
  [styleProps]="getCssEditorStyleProps()" (applyEditor)="onCssSheetEditorApply($event)">
</wuic-css-sheet-editor>

<p-dialog [header]="'designer.reopen_dashboard' | translate" [(visible)]="reopenDashboardDialogVisible" [modal]="true"
  [closable]="true" [draggable]="false" [resizable]="false" [appendTo]="'body'" [style]="{ width: '34rem' }"
  (onHide)="cancelReopenDashboardDialog()">
  <div class="route-popup-form">
    <label for="designer-reopen-select">{{ 'designer.existing_dashboards' | translate }}</label>
    <p-select inputId="designer-reopen-select" [options]="savedDashboardOptions" optionLabel="label" optionValue="value"
      [(ngModel)]="reopenDialogSelectedDashboardRoute" [filter]="true" [showClear]="true" [style]="{ width: '100%' }"
      appendTo="body" />

    <div class="route-popup-actions">
      <button type="button" class="route-popup-btn" (click)="cancelReopenDashboardDialog()">{{ 'cancel' | translate
        }}</button>
      <button type="button" class="route-popup-btn route-popup-btn-primary" (click)="confirmReopenDashboardDialog()"
        [disabled]="!reopenDialogSelectedDashboardRoute">{{ 'designer.reopen' | translate }}</button>
    </div>
  </div>
</p-dialog>