@if (!field.mc_button_template) {
<p-button (click)="buttonExecute($event)" [ngStyle]="{display: isButtonVisible()}" ngClass="k-button"
  [icon]="field.mc_button_image" title="{{field.mc_button_tooltip || field.mc_button_caption}}"
  [label]="field.mc_button_caption" />
}

<!--string-template="{{field.mc_button_template}}" kendo-tooltip
k-options="{position: 'top', content: field.mc_button_tooltip || field.mc_button_caption }"-->
@if (field.mc_button_template) {
<div [ngClass]="field.mc_button_image ? field.mc_button_image : 'k-button' "></div>
}