<footer class="footer">
  <div class="container footer-inner">
    <div class="footer-brand">
      <i class="pi pi-bolt"></i>
      <span>WUIC Framework</span>
    </div>
    <div class="footer-links">
      <a routerLink="/features">{{ 'footer.features' | translate }}</a>
      <a routerLink="/comparison">{{ 'footer.compare' | translate }}</a>
      <a routerLink="/sandbox">{{ 'footer.sandbox' | translate }}</a>
      <a routerLink="/docs">{{ 'footer.docs' | translate }}</a>
      <a routerLink="/blog">{{ 'footer.blog' | translate }}</a>
      <a routerLink="/downloads">{{ 'footer.downloads' | translate }}</a>
      <a href="https://forum.wuic-framework.com" target="_blank">{{ 'footer.community' | translate }}</a>
    </div>
    <div class="footer-legal-links">
      <a routerLink="/privacy">{{ 'footer.privacy' | translate }}</a>
      <a routerLink="/cookies">{{ 'footer.cookies' | translate }}</a>
      <a routerLink="/terms">{{ 'footer.terms' | translate }}</a>
      <a routerLink="/legal">{{ 'footer.legal' | translate }}</a>
    </div>
    <div class="footer-copy">
      {{ 'footer.copyright' | translate: { year: year } }}
    </div>
    <div class="footer-attribution">
      {{ 'footer.attribution' | translate }}
    </div>
  </div>
</footer>
