<footer class="footer">
  <div class="container footer-inner">
    <div class="footer-brand">
      <i class="pi pi-bolt"></i>
      <span>WUIC Framework</span>
    </div>
    <div class="footer-links">
      <a routerLink="/features">Features</a>
      <a routerLink="/docs">Docs</a>
      <a routerLink="/downloads">Download</a>
      <a href="https://demo.wuic-framework.com" target="_blank">Demo</a>
    </div>
    <div class="footer-copy">
      &copy; {{ year }} Lamela Software. Tutti i diritti riservati.
    </div>
  </div>
</footer>
