<div data-pc-name="tabview" class="p-tabview p-component">
  <div class="p-tabview-nav-container">
    <div class="p-tabview-nav-content" data-pc-section="navcontent">
      <ul role="tablist" class="p-tabview-nav" data-pc-section="nav">
        @for (tab of tabs; track tab; let i = $index) {
          <li role="presentation" data-p-disabled="false"
            [ngClass]="{'p-highlight': activeIndex == i}">
            <button type="button" role="tab" pripple="" class="p-element p-ripple p-tabview-nav-link" (click)="setIndex(i)"
              [attr.aria-selected]="activeIndex == i" [attr.tabindex]="i" aria-disabled="false"
              [attr.data-pc-index]="i" data-pc-section="headeraction">
              <span class="p-tabview-title">
                {{tab.inputs.header}}
              </span>
            </button>
          </li>
        }
      </ul>
    </div>
  </div>
  <div class="p-tabview-panels">
    <ng-content></ng-content>
  </div>
</div>