# .NET
**/bin/
**/obj/
.vs/
*.user
*.suo

# Node
**/node_modules/

# Sonar generated
**/.sonarqube/
**/Konvergence/wuic-angular-konvergence/Konvergence/Reports/Cache/
**/AspNetCoreOData-main/
**/DynamicADO/
**/ILPack-master/
**/Konvergence/wuic-angular-konvergence/
**/NgUicClientProj/
**/NGUICORM/
**/ngUicService/
**/ODataEfCoreFilterDynamicProps-main/
**/packages/
**/WideWorldImporters-main/
**/WinFormsApp1/
**/test/
**/runtimelab-feature-assembly-builder-save/
**/Konvergence/
**/MigrationMySql/
**/RuntimeEfCore-master/
**/.nuget/
**/MySqlDB/
NugetFeed/
codebase_docs/
codebase_embeddings/