<div class="data-field-wrapper">
  <div class="data-field-field"
    [ngStyle]="{width: (field.mc_ui_size_width !== null && field.mc_ui_size_width != '0' ? field.mc_ui_size_width : widgetMap[field.mc_ui_column_type]?.width)}">
    @if (!hideLabel && (condition() || conditionSpan())) {
    <div class="caption-wrapper">
      <table style="width: 100%;">
        <tr>
          @if (forceShowLabel || !metaInfo.tableMetadata.md_inline_edit || readOnly) {
          <td>
            @if (!metaInfo.editMode) {
            @if (getAccessibleControlId()) {
            <label class="caption" [attr.id]="getAccessibleLabelId()" [attr.for]="getAccessibleControlId()"
              (dblclick)="onLabelDoubleClick($event)">
              {{field.mc_display_string_in_edit}}{{field.mc_validation_required && condition() ? ' *' :
              ''}}
              @if (field.mc_tooltip) {
              <i class="pi pi-info-circle" [pTooltip]="field.mc_tooltip" tooltipPosition="right"
                style="margin-right: 10px;"></i>
              }
              @if (field.mc_suggest_value_callback) {
              <i class="pi pi-sparkles" [pTooltip]="'suggest' | translate" tooltipPosition="right"
                style="margin-right: 10px;"
                (click)="onSuggestClick(field)"></i>
              }
              @if (field.mc_ui_lookup_edit_allow && record?.[field.mc_nome_colonna]?.value) {
              <i class="pi pi-pencil" (click)="editLookupRecord()"></i>
              }
              @if (field.mc_ui_lookup_insert_allow) {
              <i class="pi pi-plus" (click)="addLookupRecord()"></i>
              }
              @if (field.mc_ui_lookup_search_grid) {
              <i class="pi pi-search" (click)="searchLookupRecord()"></i>
              }
            </label>
            } @else {
            <span class="caption" [attr.id]="getAccessibleLabelId()" (dblclick)="onLabelDoubleClick($event)">
              {{field.mc_display_string_in_edit}}{{field.mc_validation_required && condition() ? ' *' :
              ''}}
              @if (field.mc_tooltip) {
              <i class="pi pi-info-circle" [pTooltip]="field.mc_tooltip" tooltipPosition="right"
                style="margin-right: 10px;"></i>
              }
              @if (field.mc_suggest_value_callback) {
              <i class="pi pi-sparkles" [pTooltip]="'suggest' | translate" tooltipPosition="right"
                style="margin-right: 10px;"
                (click)="onSuggestClick(field)"></i>
              }
              @if (field.mc_ui_lookup_edit_allow && record?.[field.mc_nome_colonna]?.value) {
              <i class="pi pi-pencil" (click)="editLookupRecord()"></i>
              }
              @if (field.mc_ui_lookup_insert_allow) {
              <i class="pi pi-plus" (click)="addLookupRecord()"></i>
              }
              @if (field.mc_ui_lookup_search_grid) {
              <i class="pi pi-search" (click)="searchLookupRecord()"></i>
              }
            </span>
            }
            }
            @if (metaInfo.editMode) {
            <div class="datafield-edit-box">
              <i (click)="metaSrv.hideColumn(field, false, true)" class="pointer glyphicon glyphicon-eye-close"></i>
              <i (click)="metaSrv.reorderField(field, 'up', metaInfo)" class="pointer glyphicon glyphicon-arrow-up"></i>
              <i (click)="metaSrv.reorderField(field, 'down', metaInfo)"
                class="pointer glyphicon glyphicon-arrow-down"></i>
              <div>
                <!-- ng-model-options="{ updateOn: 'blur' }"-->
                <input type="text" pInputText [(ngModel)]="field.mc_display_string_in_edit" />
              </div>
            </div>
            }
            @if (field.mc_tooltip) {
            <span kendo-tooltip k-options="{position: 'top'}" title="{{field.mc_tooltip}}"
              class="pointer glyphicon glyphicon-question-sign"></span>
            }
            @if (field.mc_suggest_value_callback) {
            <span k-options="{position: 'top'}" title="{{'suggest' | translate }}"
              class="pointer glyphicon glyphicon-info-sign" (click)="metaSrv.suggest(field, record)"></span>
            }
            @if (field.mc_syntax_builder) {
            <div>
              <!-- <syntax-builder field="field" route="{{metaInfo.tableMetadata.md_route_name}}"></syntax-builder> -->
            </div>
            }
          </td>
          }
          <td style="float:right;">
            <div class="data-field-validation">
              @for (rule of field.validationsRules; track rule) {
              @if (!rule.isValid) {
              <span class="k-tooltip k-tooltip-validation k-invalid-msg">
                <i class="pi pi-exclamation-triangle" style="color: rgba(246, 103, 103, 1);"
                  title="{{rule.message | translate:field}}"></i>
              </span>
              }
              }
            </div>
          </td>
        </tr>
      </table>
    </div>
    }

    <div class="editor-wapper" [ngClass]="field.extras?.style?.editCss">
      @if (condition()) {
      <div
        [ngStyle]="{'min-height': field.mc_ui_size_height ? (field.mc_ui_size_height + 'px') : widgetDefinition.defaultHeight, height: widgetMap[field.mc_ui_column_type]?.height, width: (field.mc_ui_size_width !== null && field.mc_ui_size_width != '0' ? field.mc_ui_size_width : widgetMap[field.mc_ui_column_type]?.width)}">
        <ng-container *ngComponentOutlet="getComponent(); inputs: getInputs()" />
      </div>
      }
      @if (conditionSpan()) {
      <span class="disabled-textfield"
        [ngStyle]="{width: (field.mc_ui_size_width !== null && field.mc_ui_size_width != '0' ? field.mc_ui_size_width : widgetMap[field.mc_ui_column_type]?.width)}">
        {{record | formatGridViewValue: field}}
      </span>
      }
    </div>
  </div>

  <p-dialog header="{{'search' | translate }}" [modal]="true" [(visible)]="searchVisible"
    [style]="{ width: '90%', height: '90%' }">
    @if (field.mc_ui_lookup_entity_name && field.mc_ui_lookup_search_grid && searchVisible) {
    <wuic-bounded-repeater [action]="searchAction" [hardcodedRoute]="field.mc_ui_lookup_entity_name"
      [rowCustomSelect]="selectRow.bind(this)"></wuic-bounded-repeater>
    }
  </p-dialog>
</div>