@if (hasAnyAction) {
@if (hasBothActions) {
<p-button [label]="label" [icon]="icon" (onClick)="toggleMenu($event, importExportMenu)" />
<p-menu #importExportMenu [popup]="true" [model]="popupMenuItems" appendTo="body"></p-menu>
} @else {
<p-button [label]="label" [icon]="icon" (onClick)="onPrimaryClick()" />
}
@if (canImportXls) {
<input #importFileInput type="file"
  accept=".xls,.xlsx,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
  style="display: none;" (change)="onImportFileSelected($event)" />
}
}

<p-dialog [header]="'import_export.import_dialog_title' | translate" [(visible)]="importDialogVisible" [modal]="true" [closable]="true"
  [style]="{ width: '34rem', maxWidth: '95vw' }">
  <div class="wuic-import-dialog">
    <div class="wuic-import-grid">
      <label for="wuic-import-type">{{ 'import_export.import_type' | translate }}</label>
      <select id="wuic-import-type" class="p-inputtext p-component" [(ngModel)]="importOptionsForm.import_type">
        <option value="I">{{ 'import_export.import_type_i' | translate }}</option>
        <option value="U">{{ 'import_export.import_type_u' | translate }}</option>
        <option value="IU">{{ 'import_export.import_type_iu' | translate }}</option>
      </select>

      <label for="wuic-import-commit-level">{{ 'import_export.commit_level' | translate }}</label>
      <select id="wuic-import-commit-level" class="p-inputtext p-component" [(ngModel)]="importOptionsForm.commit_level">
        <option value="R">{{ 'import_export.commit_level_r' | translate }}</option>
        <option value="I">{{ 'import_export.commit_level_i' | translate }}</option>
        <option value="C">{{ 'import_export.commit_level_c' | translate }}</option>
        <option value="T">{{ 'import_export.commit_level_t' | translate }}</option>
      </select>

      <label for="wuic-import-use-column-captions">{{ 'import_export.use_column_captions' | translate }}</label>
      <select id="wuic-import-use-column-captions" class="p-inputtext p-component" [(ngModel)]="importOptionsForm.use_column_captions">
        <option value="N">{{ 'import_export.use_column_captions_n' | translate }}</option>
        <option value="C">{{ 'import_export.use_column_captions_c' | translate }}</option>
      </select>

      <label for="wuic-import-separator">{{ 'import_export.separator' | translate }}</label>
      <input id="wuic-import-separator" type="text" pInputText [(ngModel)]="importOptionsForm.separator" />
    </div>

    <label class="wuic-column-layout-check">
      <input type="checkbox" [(ngModel)]="importOptionsForm.use_descriptive_fkey" />
      <span>{{ 'import_export.use_descriptive_fkey' | translate }}</span>
    </label>

    <div class="wuic-import-file-row">
      <p-button icon="pi pi-paperclip" [label]="'import_export.select_file' | translate" [outlined]="true" (onClick)="triggerImportFileSelection()" />
      <span>{{ importSelectedFileName || ('import_export.no_file_selected' | translate) }}</span>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <p-button [label]="'cancel' | translate" [outlined]="true" [disabled]="importDialogBusy"
      (onClick)="importDialogVisible = false" />
    <p-button [label]="'import_export.confirm_import' | translate" [disabled]="importDialogBusy || !importSelectedFileName"
      (onClick)="confirmImportDialog()" />
  </ng-template>
</p-dialog>

<p-dialog [header]="'import_export.import_progress_title' | translate" [(visible)]="importProgressDialogVisible" [modal]="true" [closable]="false"
  [draggable]="false" [resizable]="false" [style]="{ width: '30rem', maxWidth: '95vw' }"
  styleClass="wuic-progress-dialog">
  <div class="wuic-export-progress-dialog">
    <p-progressbar [value]="importProgressValue"></p-progressbar>
    <div class="wuic-export-progress-detail">{{ importProgressDetail }}</div>
  </div>
  <ng-template pTemplate="footer">
    <p-button [label]="'import_export.continue_in_background' | translate" [outlined]="true" [disabled]="importControlBusy"
      (onClick)="continueImportInBackground()" />
    <p-button [label]="'import_export.cancel_import_rollback' | translate" severity="danger" [outlined]="true" [disabled]="importControlBusy"
      (onClick)="cancelImportTaskFromDialog()" />
    <p-button [label]="'import_export.stop_commit_partial' | translate" [disabled]="importControlBusy"
      (onClick)="stopImportAndCommitFromDialog()" />
  </ng-template>
</p-dialog>

<p-dialog [header]="'import_export.export_progress_title' | translate" [(visible)]="exportProgressDialogVisible" [modal]="true" [closable]="false"
  [draggable]="false" [resizable]="false" [style]="{ width: '30rem', maxWidth: '95vw' }"
  styleClass="wuic-progress-dialog">
  <div class="wuic-export-progress-dialog">
    <p-progressbar [value]="exportProgressValue"></p-progressbar>
    <div class="wuic-export-progress-detail">{{ exportProgressDetail }}</div>
  </div>
  <ng-template pTemplate="footer">
    <p-button [label]="'import_export.continue_in_background' | translate" [outlined]="true" [disabled]="exportControlBusy"
      (onClick)="continueExportInBackground()" />
    <p-button [label]="'import_export.cancel_task' | translate" severity="danger" [outlined]="true" [disabled]="exportControlBusy"
      (onClick)="cancelExportTaskFromDialog()" />
    <p-button [label]="'import_export.stop_download_partial' | translate" [disabled]="exportControlBusy"
      (onClick)="stopExportAndDownloadPartialFromDialog()" />
  </ng-template>
</p-dialog>
