<div class="point-filter-box">
  <div class="point-filter-actions">
    <button pButton type="button" icon="pi pi-map" [pTooltip]="'map.configure' | translate" tooltipPosition="top"
      class="p-button-sm" (click)="openDialog()"></button>
    <button pButton type="button" icon="pi pi-times" [pTooltip]="'form_reset' | translate" tooltipPosition="top"
      class="p-button-sm p-button-secondary p-button-outlined" (click)="clearFilter()"></button>

    <span class="point-filter-status">
      @if (pendingOperator === 'maparea') {
        <i class="pi pi-check-circle point-filter-status-icon active"></i>
        <span>{{ 'point_filter.area_ready' | translate }}</span>
      } @else if (pendingOperator === 'mapdistance') {
        <i class="pi pi-check-circle point-filter-status-icon active"></i>
        <span>{{ 'point_filter.circle_ready' | translate }}</span>
      } @else {
        <i class="pi pi-map-marker point-filter-status-icon"></i>
        <span>{{ 'point_filter.none' | translate }}</span>
      }
    </span>
  </div>
</div>

<p-dialog [header]="'point_filter.header' | translate" [(visible)]="dialogVisible" [modal]="true" [closable]="true" [style]="{ width: '920px', maxWidth: '95vw' }">
  <div class="point-filter-dialog-actions">
    <button pButton type="button" icon="pi pi-pencil" [label]="'point_filter.draw_area' | translate"
      class="p-button-sm" (click)="drawArea()"></button>
    <button pButton type="button" icon="pi pi-circle" [label]="'point_filter.draw_circle' | translate"
      class="p-button-sm" (click)="drawCircle()"></button>
    <button pButton type="button" icon="pi pi-trash" [label]="'point_filter.clear_shape' | translate"
      class="p-button-sm p-button-secondary p-button-outlined" (click)="clearShapes()"></button>
  </div>

  <google-map [height]="'420px'" [width]="'100%'" [center]="mapCenter" [zoom]="mapZoom"></google-map>

  <ng-template pTemplate="footer">
    <button pButton type="button" icon="pi pi-times" [label]="'cancel' | translate"
      class="p-button-secondary" (click)="closeDialog()"></button>
    <button pButton type="button" icon="pi pi-check" [label]="'point_filter.use_filter' | translate"
      (click)="applyFilter()"></button>
  </ng-template>
</p-dialog>
