<p-fileUpload [chooseLabel]="'choose.file' | translate" chooseIcon="pi pi-upload" name="uploadEditor[]"
  [url]="uploadEndpoint" [accept]="mimeTypes" [maxFileSize]="maxFileSize" [multiple]="true"
  (onBeforeUpload)="onBeforeUpload($event)" (onSelect)="onFileSelect($event)" (onUpload)="onUpload($event)"
  [auto]="true">
  <ng-template pTemplate="header" let-files let-chooseCallback="chooseCallback" let-clearCallback="clearCallback"
    let-uploadCallback="uploadCallback">
    <div class="flex flex-wrap justify-content-between align-items-center flex-1 gap-2">
      <div class="flex gap-2">
        <p-button (onClick)="choose($event, chooseCallback)" icon="pi pi-images" [rounded]="true"
          [outlined]="true" />
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="content" let-uploadedFiles="uploadedFiles" let-removeFileCallback="removeFileCallback"
      let-removeUploadedFileCallback="removeUploadedFileCallback">
      @if (uploadedFiles?.length > 0) {
        <div>
          <div class="flex align-items-center justify-content-center flex-column">
            @for (file of uploadedFiles; track file; let i = $index) {
              <div
                class="flex flex-column border-1 surface-border align-items-center">
                <div>
                  @if (field.isImageUpload) {
                    <p-image [preview]="true" [src]="file.objectURL" width="100"
                      height="50" />
                  }
                  @if (!field.isImageUpload) {
                    <img height="50" width="50"
                      [src]="file.name | getSrcUploadPreview : field : metaInfo : record : true" />
                  }
                </div>
                <span class="font-semibold">{{ file.name }}</span>
                <div>{{ formatSize(file.size) }}</div>
                <p-button icon="pi pi-times" (onClick)="removeUploadedFileCallback(i)" [outlined]="true"
                  [rounded]="true" severity="danger" />
                </div>
              }
            </div>
          </div>
        }
      </ng-template>
      <ng-template pTemplate="file"> </ng-template>
      <ng-template pTemplate="empty">
        @if (!(record[field.mc_nome_colonna] | async)) {
          <div class="flex align-items-center justify-content-center flex-column"
            >
            <i class="pi pi-cloud-upload border-2 border-circle p-5 text-4xl"></i>
            <p class="mt-4 mb-0">{{'drag.drop.file' | translate}}</p>
          </div>
        }
        @if ((record[field.mc_nome_colonna] | async)) {
          <div class="flex align-items-center justify-content-center flex-column"
            >
            <div class="flex flex-column border-1 surface-border align-items-center">
              <div>
                @if (field.isImageUpload) {
                  <img role="presentation" [alt]="(record[field.mc_nome_colonna] | async)"
                    [src]="(record[field.mc_nome_colonna] | async) | getSrcUploadPreview : field : metaInfo : record"
                    width="100" height="50" />
                }
                @if (!field.isImageUpload) {
                  <a
                    [href]="(record[field.mc_nome_colonna] | async) | getSrcUploadPreview : field : metaInfo : record"
                    target="_blank"><img
                    [src]="(record[field.mc_nome_colonna] | async) | getSrcUploadPreview : field : metaInfo : record : true"
                  height="50" width="50" /></a>
                }
              </div>
              <span class="font-semibold">{{ (record[field.mc_nome_colonna] | async) }}</span>
              <p-button icon="pi pi-times" (onClick)="removeAttachment(field)" [outlined]="true" [rounded]="true"
                severity="danger" />
              </div>
            </div>
          }
        </ng-template>

      </p-fileUpload>