<wuic-data-source #datasource
    [autoload]="(action | async) == 'list' || (action | async) == 'edit' || (action | async) == 'detail'"
    [routeFromRouting]="hardcodedRoute ? false : true" [route]="routeName" [parentRecord]="parentRecord"
    [parentMetaInfo]="parentMetaInfo" [loading]="loading"></wuic-data-source>

@if (longDescHtml) {
<div class="list-grid-long-description-container" [innerHTML]="longDescHtml">
</div>
}

@if (showMetadataEditor) {
<wuic-metadata-editor [hardcodedDatasource]="datasource"></wuic-metadata-editor>
}

@if (showFilterBar) {
<wuic-filter-bar [hardcodedDatasource]="datasource"></wuic-filter-bar>
}

<div class="repeater-content">
    @if (action && datasource) {
    <ng-container>
        <wuic-data-repeater [hardcodedDatasource]="datasource" [action]="action" [rowCustomSelect]="rowCustomSelect"
            (templateReady)="onRepeaterTemplateReady($event)"></wuic-data-repeater>
    </ng-container>
    }
</div>

@if (showEditPagerAndFilter) {
<wuic-pager [hardcodedDatasource]="datasource" [forcedPageSize]="pageSize"></wuic-pager>
}
