<div class="wuic-filter-bar">
  @if (datasource?.value || isMultiDatasourceMode) {
  <div class="filter-bar-collapse-row">
    <button class="p-element p-button p-component p-button-text filter-bar-collapse-btn" type="button"
      (click)="toggleCollapse()">
      @if (deviceAwareness.isMobile$ | async) {
      <i class="pi pi-filter"></i>
      } @else {
      <i class="pi" [ngClass]="isCollapsed ? 'pi-chevron-right' : 'pi-chevron-down'"></i>
      }
      <span>{{ 'Filter' | translate }}</span>
    </button>
  </div>
  @if (hasExpandedOnce) {
  <!-- Su mobile, quando aperto, .filter-bar-content viene stilato come fullscreen
       overlay via CSS (regola :host-context(...) + media query) per non schiacciare
       la lista sotto. Niente <p-dialog> ne' <ng-template>: i binding [(ngModel)]
       e [record]="filterDescriptor" di <wuic-field-filter> richiedono che il
       content sia direttamente nel template del componente, altrimenti i valori
       digitati non si propagano al filterDescriptor. -->
  <div class="filter-bar-content"
    [class.filter-bar-content-hidden]="isCollapsed"
    [class.filter-bar-content-mobile-overlay]="(deviceAwareness.isMobile$ | async) && !isCollapsed">
    @if ((deviceAwareness.isMobile$ | async) && !isCollapsed) {
    <div class="filter-bar-mobile-header">
      <span class="filter-bar-mobile-title">{{ 'Filter' | translate }}</span>
      <button type="button" class="p-element p-button p-component p-button-text"
        (click)="toggleCollapse()" [attr.aria-label]="'close' | translate">
        <i class="pi pi-times"></i>
      </button>
    </div>
    }
    <p-tabs [(value)]="activeTab">
    <p-tablist>
      <p-tab [value]="0">{{ 'Filter' | translate }}</p-tab>
      <p-tab [value]="1">{{ 'advanced_filter.tab_title' | translate }}</p-tab>
      <p-tab [value]="2">{{ 'page_size' | translate }}</p-tab>
      <p-tab [value]="3">{{ 'Sorting' | translate }}</p-tab>
      <p-tab [value]="4">{{ 'grouping' | translate }}</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel [value]="0">
        <div class="filter-items-row">
          @for (field of metas; track field) {
          <div class="filter-item">
            @if (isMultiDatasourceMode) {
            <span class="filter-item-label">{{ field.mc_display_string_in_view || field.mc_nome_colonna }}</span>
            }
            <wuic-field-filter [record]="filterDescriptor" [field]="field" [metaInfo]="metaInfo"
              [operator]="metaInfo.operators[field.mc_nome_colonna]" [datasource]="datasource"
              [hideLabel]="isMultiDatasourceMode"></wuic-field-filter>
          </div>
          }
          <div class="filter-buttons">
            <button class="p-element p-button p-component" (click)="filter()">{{ 'Filter' | translate }}</button>
            <button class="p-element p-button p-component" (click)="clearFilter()">{{ 'Clear' | translate }}</button>
          </div>
        </div>
        <div style="clear: both; float: none;"></div>
      </p-tabpanel>

      <p-tabpanel [value]="1">
        <div class="advanced-filter-readonly-toolbar">
          <button class="p-element p-button p-component" (click)="openAdvancedFilterPopup()">{{ 'advanced_filter.choose_filters' | translate }}</button>
          <button class="p-element p-button p-component" (click)="clearAdvancedFilter()">{{ 'clear_filters' | translate
            }}</button>
        </div>
        <div class="advanced-filter-summary">
          {{ getAppliedAdvancedFilterDescription() }}
        </div>

        <ng-template #groupTemplate let-group let-path="path">
          <div class="advanced-group">
            <div class="advanced-group-header">
              <span class="advanced-group-title">{{ 'Group Logic' | translate }}</span>
              <p-select [options]="advancedLogicOptions" [(ngModel)]="group.logic" optionLabel="label"
                optionValue="value" appendTo="body" [showClear]="false" [style]="{'width':'140px'}"></p-select>
              @if (path?.length) {
              <button class="p-element p-button p-component p-button-danger" (click)="removeAdvancedGroup(path)">{{
                'remove' | translate }}</button>
              }
            </div>

            <div class="advanced-group-body">
              @for (node of group.filters; track node; let i = $index) {
              @if (isAdvancedGroup(node)) {
              <ng-container
                *ngTemplateOutlet="groupTemplate; context: { $implicit: node.nestedFilters, path: getChildPath(path || [], i) }"></ng-container>
              } @else {
              <div class="advanced-rule-row">
                <p-select [options]="getRuleFields()" [(ngModel)]="node.field" optionLabel="label" optionValue="value"
                  appendTo="body" [showClear]="false" [style]="{'width':'260px'}"
                  (ngModelChange)="onAdvancedRuleFieldChange(node)">
                </p-select>
                <p-select [options]="advancedOperators | availableOperators: node.__metaColumn"
                  [(ngModel)]="node.operatore" optionLabel="value" optionValue="key" appendTo="body" [showClear]="false"
                  [disabled]="node?.__metaColumn?.mc_ui_column_type == 'lookupByID' || node?.__metaColumn?.mc_ui_column_type == 'multiple_check'"
                  [style]="{'width':'170px'}">
                </p-select>
                <div class="advanced-rule-value">
                  <wuic-field-filter [record]="getAdvancedRuleRecord($any(node))"
                    [field]="getAdvancedRuleMetaField($any(node))" [metaInfo]="metaInfo" [hideLabel]="true"
                    [operator]="node.operatore" [datasource]="datasource"></wuic-field-filter>
                </div>
                <button class="p-element p-button p-component p-button-danger"
                  (click)="removeAdvancedNode(path || [], i)">{{ 'remove' | translate }}</button>
              </div>
              }
              }
            </div>

            <div class="advanced-group-actions">
              <button class="p-element p-button p-component" (click)="addAdvancedRule(path || [])">{{ 'Add Rule' |
                translate }}</button>
              <button class="p-element p-button p-component" (click)="addAdvancedGroup(path || [])">{{ 'Add Group' |
                translate }}</button>
            </div>
          </div>
        </ng-template>

        <p-dialog [(visible)]="advancedFilterPopupVisible" [modal]="true" [draggable]="false" [resizable]="false"
          [style]="{ width: '90vw', maxWidth: '1200px', maxHeight: '90vh' }"
          [contentStyle]="{ overflow: 'auto', maxHeight: '70vh' }"
          [header]="'advanced_filter.popup_title' | translate" styleClass="advanced-filter-popup">
          <div class="advanced-filter-popup-body">
            <div class="advanced-filter-actions-top">
              <button class="p-element p-button p-component" (click)="addAdvancedRule([])">{{ 'Add Rule' | translate
                }}</button>
              <button class="p-element p-button p-component" (click)="addAdvancedGroup([])">{{ 'Add Group' | translate
                }}</button>
            </div>
            <ng-container
              *ngTemplateOutlet="groupTemplate; context: { $implicit: advancedFilter, path: [] }"></ng-container>
          </div>
          <ng-template pTemplate="footer">
            <div class="filter-buttons">
              <button class="p-element p-button p-component" (click)="applyAdvancedFilterFromPopup()">{{ 'Apply Advanced
                Filter' | translate }}</button>
              <button class="p-element p-button p-component" (click)="clearAdvancedFilter()">{{ 'Clear' | translate
                }}</button>
              <button class="p-element p-button p-component" (click)="advancedFilterPopupVisible = false">{{ 'close' | translate }}</button>
            </div>
          </ng-template>
        </p-dialog>
      </p-tabpanel>

      <p-tabpanel [value]="2">
        @if (cursorMode) {
        <div class="p-message p-message-info" style="margin-bottom: 10px;">
          <span>{{ 'filter_bar.cursor_mode_page_size_info' | translate }}</span>
        </div>
        }
        <div class="row">
          <div class="col-3">
            <p-select [options]="pageSizeOptions" [(ngModel)]="pageSize" [style]="{'width':'100%'}" [showClear]="false"
              appendTo="body" [placeholder]="'page_size' | translate">
            </p-select>
          </div>
          <div class="col-2">
            <input class="p-inputtext p-component" type="number" min="1" [(ngModel)]="pageSize" />
          </div>
          <div class="col-7">
            <button class="p-element p-button p-component" (click)="applyPageSize()">{{'apply_page_size' |
              translate}}</button>
            <button style="margin-left: 10px;" class="p-element p-button p-component"
              (click)="resetPageSize()">{{'form_reset' | translate}}</button>
          </div>
        </div>
      </p-tabpanel>

      <p-tabpanel [value]="3">
        @if (cursorMode) {
        <div class="p-message p-message-info" style="margin-bottom: 10px;">
          <span>{{ 'filter_bar.cursor_mode_sort_info' | translate }}</span>
        </div>
        }
        <div class="row">
          <div class="col-3">
            <p-select [options]="metaInfo?.columnMetadata " [(ngModel)]="selectedSortColumn" appendTo="body"
              optionLabel="mc_display_string_in_view" [style]="{'width':'100%'}" [showClear]="true" [filter]="true"
              [placeholder]="'column' | translate">
            </p-select>
          </div>
          <div class="col-2">
            <p-select [options]="sortDirections" [(ngModel)]="selectedSortDir" [style]="{'width':'100%'}"
              appendTo="body" [showClear]="false" [placeholder]="'sort' | translate">
            </p-select>
          </div>
          <div class="col-3">
            <button class="p-element p-button p-component" (click)="addSortField()">
              {{'add.sort.field' | translate}}
            </button>
          </div>
          <div class="col-4">
            <button class="p-element p-button p-component" (click)="applySorting()">{{'Filter' | translate}}</button>
            <button style="margin-left: 10px;" class="p-element p-button p-component"
              (click)="clearSorting()">{{'clear.sorting' | translate}}</button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <ul>
              @for (sort of (datasource?.value?.sortInfo ?? []); track sort; let i = $index) {
              <li>
                <span>{{ getSortLabel(sort) }}</span>
                <button style="margin-left: 10px;" class="p-element p-button p-component"
                  (click)="removeSortField(i)">{{'remove' | translate}}</button>
              </li>
              }
            </ul>
          </div>
        </div>
      </p-tabpanel>

      <p-tabpanel [value]="4">
        <fieldset class="filter-bar-grouping-section">
          <legend>{{ 'grouping' | translate }}</legend>
          <div class="row">
            <div class="col-2">
              <span class="filter-bar-control-label">{{ 'column' | translate }}</span>
              <p-select [options]="metas" [(ngModel)]="selectedGroupColumn" optionLabel="mc_display_string_in_view"
                appendTo="body" [style]="{'width':'100%'}" [showClear]="true" [filter]="true"
                [placeholder]="'column' | translate">
              </p-select>
            </div>
            <div class="col-2">
              <button class="p-element p-button p-component" (click)="addGroupField()">{{'add.group.field' |
                translate}}
              </button>
            </div>
          </div>
          @if ((datasource?.value?.groupInfo ?? []).length) {
          <ul class="filter-bar-applied-list">
            @for (field of (datasource?.value?.groupInfo ?? []); track field) {
            <li>
              <span class="filter-bar-applied-name">{{ field.field }}</span>
            </li>
            }
          </ul>
          }
        </fieldset>

        <fieldset class="filter-bar-grouping-section">
          <legend>{{ 'aggregation' | translate }}</legend>
          <div class="row">
            <div class="col-2">
              <span class="filter-bar-control-label">{{ 'column' | translate }}</span>
              <p-select [options]="metas" [(ngModel)]="selectedAggregateColumn" optionLabel="mc_display_string_in_view"
                appendTo="body" [style]="{'width':'100%'}" [showClear]="true" [filter]="true"
                [placeholder]="'column' | translate">
              </p-select>
            </div>

            <div class="col-2">
              <span class="filter-bar-control-label">{{ 'aggregation' | translate }}</span>
              <p-select [options]="aggregations" [(ngModel)]="selectedAggregation" [style]="{'width':'100%'}"
                appendTo="body" [showClear]="true" [filter]="true" [placeholder]="'aggregation' | translate">
              </p-select>
            </div>

            <div class="col-2">
              <button class="p-element p-button p-component" (click)="addAggregateField()">{{'add.aggregate.field'
                |
                translate}}
              </button>
            </div>
          </div>
          @if ((datasource?.value?.aggregationInfo ?? []).length) {
          <ul class="filter-bar-applied-list">
            @for (field of (datasource?.value?.aggregationInfo ?? []); track field) {
            <li>
              <span class="filter-bar-applied-name">{{ field.field }}</span>
              @if (field.aggregate) {
              <span class="filter-bar-applied-tag">{{ field.aggregate }}</span>
              }
            </li>
            }
          </ul>
          }
        </fieldset>

        <div class="row">
          <div class="col-2">
            <button class="p-element p-button p-component" (click)="filter()">{{'Filter' |
              translate}}</button>
            <button style="margin-left: 10px;" class="p-element p-button p-component" (click)="clearGroups()">{{'Clear'
              |
              translate}}</button>
          </div>
        </div>
      </p-tabpanel>
    </p-tabpanels>
    </p-tabs>
  </div>
  }
  }
</div>
