<div class="form-edit-wrapper">

  @if (!metaInfo?.tableMetadata?.md_edit_template) {
  <form class="parametric-dialog-form" novalidate>
    @if (metaInfo?.tableMetadata?.md_tab_edit) {
    <p-tabs [value]="activeTabValue" (valueChange)="onTabValueChange($event)">
      <p-tablist>
        @for (dataTab of visibleDataTabs; track dataTab; let i = $index) {
        <p-tab [value]="getTabValue(dataTab, i)">
          {{ dataTab.tabName | translate }}
        </p-tab>
        }
      </p-tablist>
      <p-tabpanels>
        @for (dataTab of visibleDataTabs; track dataTab; let i = $index) {
        <p-tabpanel [value]="getTabValue(dataTab, i)">
          @if (shouldRenderTabPanel(getTabValue(dataTab, i))) {
          <div class="row">
            <ng-template
              *ngTemplateOutlet="fieldRepeater; context: { metas: metas, record: record, metaInfo: metaInfo, dataTab: dataTab, readOnly: readOnly }"></ng-template>
          </div>
          }
        </p-tabpanel>
        }
      </p-tabpanels>
    </p-tabs>
    }
    @if (!metaInfo?.tableMetadata?.md_tab_edit) {
    <div class="row parametric-dialog-body">
      <ng-template
        *ngTemplateOutlet="fieldRepeater; context: { metas: metas, record: record, metaInfo: metaInfo, readOnly: readOnly }"></ng-template>
    </div>
    }
  </form>
  }

  @if (metaInfo?.tableMetadata?.md_edit_template || (readOnly && metaInfo?.tableMetadata?.md_detail_template)) {
  <ng-container
    *ngComponentOutlet="formTemplate; inputs: { metas: metas, record: record, rowData: record, metaInfo: metaInfo, readOnly: readOnly }"></ng-container>
  }

  @if (!hideToolbar) {
  <ul class="edit-form-button-bar parametric-dialog-toolbar">
    @if(!isEditForm || isWizard) {
    @for (item of tableCustomActions; track item; let i = $index) {
    <li>
      <p-button label="{{item.button_caption | translate}}" ngClass="k-button" [icon]="item.button_image"
        (onClick)="execute($event, item)" [disabled]="item._disabled"
        (keydown.enter)="onToolbarButtonKeydown($event, 'custom', item)"
        (keydown.space)="onToolbarButtonKeydown($event, 'custom', item)"
        [attr.aria-label]="item.button_caption | translate" [attr.tabindex]="0" />
    </li>
    }
    }

    @if(isEditForm) {
    @if (!readOnly && !metaInfo.tableMetadata.hideSave) {
    <li>
      <p-button icon="pi pi-save" [rounded]="true" [text]="true" severity="success" styleClass="parametric-toolbar-btn"
        (onClick)="submitData()" title="{{ 'form_save' | translate }}" [ariaLabel]="'form_save' | translate"
        (keydown.enter)="onToolbarButtonKeydown($event, 'save')"
        (keydown.space)="onToolbarButtonKeydown($event, 'save')" tabindex="0" />
    </li>
    }
    @if (!readOnly && !metaInfo.tableMetadata.hideRollback) {
    <li>
      <p-button icon="pi pi-undo" [rounded]="true" [text]="true" severity="contrast" styleClass="parametric-toolbar-btn"
        (onClick)="rollbackChanges(record)" title="{{ 'form_reset' | translate }}"
        [ariaLabel]="'form_reset' | translate" (keydown.enter)="onToolbarButtonKeydown($event, 'rollback')"
        (keydown.space)="onToolbarButtonKeydown($event, 'rollback')" tabindex="0" />
    </li>
    }
    @if (!metaInfo.tableMetadata.hideGoBack) {
    <li>
      <p-button icon="pi pi-times-circle" [rounded]="true" [text]="true" severity="danger"
        styleClass="parametric-toolbar-btn" (onClick)="goBack()" title="{{ 'form_cancel' | translate }}"
        [ariaLabel]="'form_cancel' | translate" (keydown.enter)="onToolbarButtonKeydown($event, 'goback')"
        (keydown.space)="onToolbarButtonKeydown($event, 'goback')" tabindex="0" />
    </li>
    }
    }

    @if(isEditForm && !isWizard && hasPendingChanges()) {
    <li class="pending-changes-cue" [ngClass]="{ 'is-dirty': hasPendingChanges(), 'is-clean': !hasPendingChanges() }">
      @if (hasPendingChanges()) {
      <span class="pending-dot" aria-hidden="true"></span>
      <span>Unsaved changes ({{ pendingChangesCount }})</span>
      }
    </li>
    }
  </ul>
  }
</div>


<ng-template #fieldRepeater let-dataTab="dataTab">
  @if (record) {
  @for (field of fieldByTab(metas, dataTab); track field; let i = $index) {
  <ng-container *ngComponentOutlet="getComponent(); inputs: getInputs(field, i)" />
  <!-- workaround for circular dep error -->
  }
  }
</ng-template>